name: mutli_job
on:
    push:
        branches:
            -main
jobs:
    build-job:
    runs-on: ubuntu-latest
    steps:
      - name: Build step
        run: echo "Building the application..."
    test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Test step
        run: echo "Running tests..." 
